body {
    margin: 0;
    font-size:40px;
    text-align: center;
    line-height: 100px;
    vertical-align: middle;
}

.header {
    height: 150px;
    background-color: skyblue;
}

.side-content {
    background: #cccccc;
    min-height: 200px;
}

.main-content {
    background: slategray;
    min-height: 200px;
}

@media screen and (min-width: 768px) {
    .side-content {
        width: 40%;
        float: left;
    }
    
    .main-content {
        width: 60%;
        float: right;
    }
}